.main-container {
  position: relative;
  width: 1186;
  height: 720;
  margin-top: 180px;
  right: 367px;
  left: 367px;
  background-color: #0e1649;
}
.main-container h1 {
  text-align: center;
  padding-top: 318px;
  font-family: Assistant;
  font-size: 64px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fcfaf7;
}
.logo {
  position: absolute;
  top: 78px;
  left: -180px;
  width: 360px;
  height: 121px;
}
.big-polygon {
  position: absolute;
  top: -81.5px;
  right: 188px;
  width: 163px;
  height: 163px;
}
.big-ellipse {
  position: absolute;
  top: -141.5px;
  right: -141.5px;
  width: 283px;
  height: 284px;
  background-color: #ff9f00;
  border-radius: 200px;
}

.big-rectangle {
  position: absolute;
  top: 199px;
  right: -88px;
  width: 176px;
  height: 176px;
  background-color: #ff7748;
}
.big-polygon2 {
  position: absolute;
  bottom: 155px;
  left: -65.5px;
  width: 131px;
  height: 131px;
}
.big-ellipse2 {
  position: absolute;
  bottom: -52px;
  left: 151px;
  width: 104px;
  height: 104px;
  background-color: #ff9f00;
  border-radius: 200px;
}

.big-rectangle2 {
  position: absolute;
  bottom: -88px;
  left: -88px;
  width: 176px;
  height: 176px;
  background-color: #ff7748;
}
